doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Car Trip
    link(rel='stylesheet', href='/style.css')
  body
    h1 Car Trip
    p Trip Distance
    input#distance(type='number')
    p Mile Per Gallon
    input#milePerGal(type='number')
    p Full Tank Gallons
    input#fullTankGal(type='number')
    p Price Per Gallon
    input#pricePerGal(type='number')
    button#go Go!
    #results
      p#totalStops
      p#totalCost
      p#galLeft
    //- script(src='/vendor/jquery/dist/jquery.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src='/main.js')
