doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Car Trip
    link(rel='stylesheet', href='/style.css')
  body
    .container
      h1 Car Trip Evaluator
      p Trip Distance (in miles)
      input#distance(type='number')
      p Your Car Mile Per Gallon (miles/gallons)
      input#milePerGal(type='number')
      p Your Car Full Tank Gallons (gallons)
      input#fullTankGal(type='number')
      p Price of Gas Per Gallon (in $)
      input#pricePerGal(type='number')
      .row
        button#go Go!
    .container
      h3#totalStops
      h3#totalCost
      h3#galLeft
    //- script(src='/vendor/jquery/dist/jquery.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src='/main.js')
